<div class="products">
    <div class="products__header">
        <div class="products__header-content">
            <h2>Resent News</h2>
            <p class="products__header-description">Lorem ipsum dolor sit amet. Accusantium facilis ipsa numquam officia
                omnis perferendis saepe unde vero.</p>
        </div>
        <div class="products__slider-controls">
            {{> components/common/slider/slider-controls
                    swiper-id="products"
            }}
        </div>
    </div>
    <div class="products__slider">
        {{#with slider}}
            {{#> components/common/slider
                    swiper-container-class="products__slider-container-class"
                    swiper-id="products"
            }}
                {{#each products}}
                    {{#> components/common/slider/slider-item }}
                        {{> components/common/product-card }}
                    {{/components/common/slider/slider-item }}
                {{/each}}
            {{/components/common/slider }}
        {{/with}}
    </div>
</div>
