<div class="description-short-item">
    <div class="description-short-item__image-container">
        <img class="description-short-item__image" src="{{src}}" alt="{{alt}}">
    </div>
    <h3 class="description-short-item__title">{{title}}</h3>
    <p class="description-short-item__description">{{description}}</p>
</div>
