@import (reference) 'src/styles/adaptive';
@import (reference) 'src/styles/flex';
@import (reference) 'src/styles/text';

.description-short-item {
    .f_c();

    flex-direction: column;
    text-align: center;
    width: 200px;

    @media @tablet {
        margin-top: 50px;
    }

    &__circle {
        height: 100%;
        width: 100%;
    }

    &__description {
        margin-top: 20px;
    }

    &__image-container {
        .f_c();

        background-image: url('/img/main/description-short/circle.jpg');
        height: 170px;
        width: 170px;
    }

    &__image {
        height: 80px;
        width: 80px;
    }

    &__title {
        .ellipsis(2);

        height: 80px;
        margin-top: 60px;
        max-width: 100%;

        @media @tablet {
            height: auto;
            margin-top: 30px;
        }
    }
}
