.third-block {    
    height: 2362px;
    width: 1920px;
    margin: 0 auto;
}

@media all and (max-width: 1600px) {
    .third-block {
        height: auto;
           
    }    
}

@media all and (max-width: 768px) {
    .third-block {
        width: 768px;
        margin: 0;
        
    }    
}

@media all and (max-width: 425px) {
    .third-block {
        width: 100%;    
        padding: 0 20px;    
    }    
}