.main {
    margin: 0 auto;
    width: 1920px;
    overflow: hidden;
}

@media all and (max-width: 1600px) {
    .main {
        width: 1500px;        
    }    
}

@media all and (max-width: 768px) {
    .main {
        width: 768px;
        margin: 0;
    }    
}

@media all and (max-width: 425px) {
    .main {
        width: 100%;        
    }    
}