.main {
    margin: 0 auto;
    
    width: 100%;
    overflow: hidden;
}

@media all and (max-width: 975px) {
    .main {
        width: 1500px;        
    }    
}

@media all and (max-width: 768px) {
    .main {
        width: 100%;
        margin: 0;
    }    
}

