@import (reference) 'src/styles/adaptive';

.summary-separate-line {
    position: relative;
    transform: translateY(100%);
    z-index: 9;

    &_top {
        transform: translateY(-300%);
    }

    @media @tablet {
        display: none;
    }
}
