<div class="download-app" id="app">
    <div class="download-app__content-container">
        <div class="download-app__content">
            <h2 class="download-app__title">Takeoff app overview for better understanding</h2>
            <p class="download-app__content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cupiditate facilis quo.</p>
            <div class="download-app__buttons">
                {{> app-buttons/index}}
            </div>
        </div>
    </div>
    <div class="download-app__image">
        <div class="download-app__circle"></div>
    </div>
</div>
