<div class="components-common-socials">
    <h3>Follow us</h3>
    <div class="components-common-socials__links-container">
        <a class="components-common-socials__link" href="#">
            <img
                    alt="Twitter"
                    class="components-common-socials__icon"
                    src="images/follow/twitter.svg"
            >
        </a>
    </div>
</div>
