@import (reference) 'src/styles/colors';

.components-common-socials {
    &__icon {
        height: 30px;
        width: 30px;
    }

    &__link {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__links-container {
        margin-top: 15px;
    }
}
