.first-block-cart {    
    display: flex;
    justify-content: center;
    align-items: center;        
}

@media all and (max-width: 768px) {
    .first-block-cart {
        flex-wrap: wrap;
        padding: 0 300px;
    }    
}

@media all and (max-width: 425px) {
    .first-block-cart {
        padding: 0 70px;      
    }    
}