.buttons-block__google-btn {
    margin-top: 0;    
    width: 170px;
    height: 60px;
    background-color: hsl(190, 81%, 19%);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.1)
}
.buttons-block__google-btn:hover {
    background-color: hsl(190, 81%, 25%);
}
.buttons-block__google-btn:focus, .buttons-block__google-btn:active {
    outline: none;
}