.buttons-block__apple-btn {
    margin-top: 0px;    
    margin-right: 25px;
    width: 170px;
    height: 60px;
    background-color: hsl(39, 94%, 63%);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.1)
}
.buttons-block__apple-btn:hover {
    background-color: hsl(39, 100%, 50%);
}
.buttons-block__apple-btn:focus, .buttons-block__apple-btn:active {
    outline: none;
}