@import (reference) 'src/styles/adaptive';
@import (reference) 'src/styles/colors';
@import (reference) 'src/styles/text';
@import (reference) 'src/styles/shadows';

.button {
    .f_btn();
    .shadow-1();

    border-radius: 5px;
    color: @white;
    min-height: 0;
    max-width: 100%;
    padding: 15px 32px;
    text-transform: uppercase;

    @media @mobile {
        padding: 10px;
    }

    &:hover {
        cursor: pointer;
    }

    &_light {
        background-color: @yellow;

        &:hover {
            background-color: @yellow_hover;
        }
    }

    &_dark {
        background-color: @green_dark;

        &:hover {
            background-color: @green_hover;
        }
    }
}
