@import (reference) 'src/styles/adaptive';
@import (reference) 'src/styles/flex';

.google-button {
    .f_c();

    flex: 1;
    min-width: 0;

    &__download {
        display: flex;
        height: 100%;
        margin-left: 10px;

        @media @mobile {
            margin-left: 0;
            transform: scale(0.7);
        }
    }

    &__logo {
        display: flex;
        height: 100%;

        @media @mobile {
            transform: scale(0.7);
        }
    }
}
