<button
        class="components-common-buttons-store-apple"
        type="button"
>
    <img
            alt="Download from Apple Store"
            class="components-common-buttons-store-apple__image"
            loading="lazy"
            src="/images/common/appStore.svg"
    >
</button>
