.second-block {
    margin: 0 auto;    
    width: 1920px;
    height: 607px;            
}

@media all and (max-width: 1600px) {
    .second-block {
        width: 100%;
           
    }    
}

@media all and (max-width: 1024px) {
    .second-block {
        width: 1000px;  
        margin: 0; 
        height: 400px;
             
    }    
}

@media all and (max-width: 768px) {
    .second-block {
        width: 768px;        
        height: 700px;
        
    }    
}