.second-block__container {
    width: 100%;
    height: 542px;    
    font-size: 0;    
}

@media all and (max-width: 1600px) {
    .second-block__container {
        height: 450px;
           
    }    
}