.second-block {
    margin: 0 auto;    
}

@media all and (max-width: 1600px) {
    .second-block {
    width: 100%;
    height: 542px;            
    }
}    


@media all and (max-width: 1024px) {
    .second-block {
        
        margin: 0; 
        height: 400px;
             
    }    
}

@media all and (max-width: 975px) {
    .second-block {
              
        height: 700px;
        margin-bottom: 50px;
    }    
}

