.subscribe-block {
    width: 371px;
    height: 269px;
    margin: 0 15px;
}

@media all and (max-width: 1220px) {
    .subscribe-block {
        order: 3;
        margin-top: 50px;
        height: 300px;
    }
}

@media all and (max-width: 1024px) {
    .subscribe-block {
        order: 3;
        margin-right: 100px;
        
    }
}

@media all and (max-width: 702px) {
    .subscribe-block {
        order: 9;     
        margin: 10px 0;         
        height: auto; 
    }    
}