<div class="swiper-container">
    <div class="swiper-wrapper">
        {{#each slider}}
            <div class="swiper-slide">
                <div>{{title}}</div>
                <div>{{data}}</div>
                <div>{{description}}</div>
            </div>
        {{/each}}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
