.fifth-block-container-bottom-item__h4 {
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #474747;
    margin: 0;
    margin-top: 35px;
}
.fifth-block-container-bottom-item__h4:hover {
    color: #f9ba48;
}
.fifth-block-container-bottom-item__h4:hover ~.fifth-block-container-bottom-item-read-more p {
    color: #f9ba48;    
}
.fifth-block-container-bottom-item__h4:hover ~.fifth-block-container-bottom-item-read-more div {      
    background-image: url(arrow.png);
}
.fifth-block-container-bottom-item__a_activ .fifth-block-container-bottom-item__h4 {
    color: #f9ba48;
}