<div
        class="modules-pages-home-download-app"
        id="app"
>
    <div class="modules-pages-home-download-app__content-container">
        <h2 class="modules-pages-home-download-app__title">Takeoff app overview for better understanding</h2>
        <p class="modules-pages-home-download-app__content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cupiditate facilis quo.</p>
        <div class="modules-pages-home-download-app__buttons">
            {{> components/common/buttons/store/all }}
        </div>
    </div>
    <div class="modules-pages-home-download-app__image-container">
        <img
                alt=""
                class="modules-pages-home-download-app__image"
                src="images/home/download-app/train.jpg"
        >
        <div class="modules-pages-home-download-app__circle"></div>
    </div>
</div>
