@import (reference) 'src/styles/adaptive';

.modules-pages-home-description {
    &__container {
        margin-top: 150px;

        &:first-child {
            margin-top: 0;
        }

        @media @tablet {
            margin-top: 100px;
        }

        @media @mobile {
            margin-top: 50px;
        }
    }
}
