<div class="modules-pages-home-description" id="features">
    <div class="modules-pages-home-description__container">
        {{> modules/pages/home/description/description-item
                first-text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur exercitationem magni nihil reprehenderit. Fugit, tempora.'
                header-text='Perfect app for flight<br>ticket booking'
                icon='/icons/static/globe.svg'
                main-image='images/pages/home/description/1/main.jpg'
                second-image='images/pages/home/description/1/second.jpg'
                second-text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur doloribus fugiat, harum itaque molestiae nulla quaerat qui sequi voluptatibus.'
        }}
    </div>
    <div class="modules-pages-home-description__container">
        {{> modules/pages/home/description/description-item
                first-text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur exercitationem magni nihil reprehenderit. Fugit, tempora.'
                header-text='Best Awarded App in 2017<br>For User Experience'
                icon='/icons/static/hotel.svg'
                main-image='images/pages/home/description/2/main.jpg'
                right-images=true
                second-image='images/pages/home/description/2/second.jpg'
                second-text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur doloribus fugiat, harum itaque molestiae nulla quaerat qui sequi voluptatibus.'
        }}
    </div>
    <div class="modules-pages-home-description__container">
        {{> modules/pages/home/description/description-item
                first-text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur exercitationem magni nihil reprehenderit. Fugit, tempora.'
                header-text='Perfect app for flight<br>ticket booking'
                icon='/icons/static/book.svg'
                main-image='images/pages/home/description/3/main.jpg'
                second-image='images/pages/home/description/3/second.jpg'
                second-text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur doloribus fugiat, harum itaque molestiae nulla quaerat qui sequi voluptatibus.'

        }}
    </div>
</div>
