<div class="description" id="features">
    {{> modules/pages/home/description/description-item
            first-text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur exercitationem magni nihil reprehenderit. Fugit, tempora.'
            header-text='Perfect app for flight<br>ticket booking'
            icon='images/home/description/first-item/icon.jpg'
            main-image='images/home/description/first-item/main.jpg'
            second-image='images/home/description/first-item/second.jpg'
            second-text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur doloribus fugiat, harum itaque molestiae nulla quaerat qui sequi voluptatibus.'
    }}
    {{> modules/pages/home/description/description-item
            first-text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur exercitationem magni nihil reprehenderit. Fugit, tempora.'
            header-text='Best Awarded App in 2017<br>For User Experience'
            icon='images/home/description/second-item/icon.jpg'
            main-image='images/home/description/second-item/main.jpg'
            right-images=true
            second-image='images/home/description/second-item/second.jpg'
            second-text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur doloribus fugiat, harum itaque molestiae nulla quaerat qui sequi voluptatibus.'

    }}
    {{> modules/pages/home/description/description-item
            first-text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur exercitationem magni nihil reprehenderit. Fugit, tempora.'
            header-text='Perfect app for flight<br>ticket booking'
            icon='images/home/description/third-item/icon.jpg'
            main-image='images/home/description/third-item/main.jpg'
            second-image='images/home/description/third-item/second.jpg'
            second-text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur doloribus fugiat, harum itaque molestiae nulla quaerat qui sequi voluptatibus.'

    }}
</div>
