.fifth-block-container-top {
    height: 170px;
    width: 100%;
    padding: 0 10px;
}

@media all and (max-width: 1024px) {
    .fifth-block-container-top {
        
        
    }    
}

@media all and (max-width: 768px) {
    .fifth-block-container-top {
        padding: 0 20px;
        
    }    
}

@media all and (max-width: 320px) {
    .fifth-block-container-top {
        height: 220px;
               
    }    
}