<div class="footer" id="contact">
    {{#with footer}}
        {{> modules/common/layout/components/footer/footer-top }}
        {{> modules/common/layout/components/footer/footer-bottom }}
    {{/with}}
</div>
