<div class="modules-pages-home-summary-item">
    {{> components/common/svg
            className="modules-pages-home-summary-item__header-icon"
            icon=header-icon
    }}
    <img
            alt="{{bottom-image-alt}}"
            class="modules-pages-home-summary-item__image"
            src="{{bottom-image-src}}"
    >
    <div class="modules-pages-home-summary-item__title">{{title}}</div>
</div>
