@import (reference) 'src/styles/adaptive';

.modules-pages-home-summary-item {
    align-items: center;
    display: flex;
    flex-direction: column;

    &__header-icon {
        height: 60px;
        width: 60px;

        @media @mobile {
            height: 30px;
            width: 30px;
        }
    }

    &__image {
        height: 42px;
        margin-top: 20px;

        @media @mobile {
            height: 22px;
            margin-top: 10px;
        }
    }

    &__title {
        font-style: italic;
        margin-top: 5px;
        text-transform: capitalize;
    }
}
