@import (reference) 'src/styles/flex';

.apple-button {
    .f_c();

    &__download {
        height: 28px;
        margin-left: 10px;
        width: 100px;
    }

    &__logo {
        height: 25px;
        width: 20px;
    }
}
