.header-bottom {    
    margin: 0 auto;  
    padding-left: 130px;     
    height: 910px;
    width: 100%;
}

@media all and (max-width: 1600px) {
    .header-bottom {
        height: 850px;
        
    }    
}