@import (reference) 'src/styles/adaptive';

.modules-common-layout-footer-top {
    display: flex;
    justify-content: space-between;

    @media @laptop {
        justify-content: space-around;
    }

    @media @tablet {
        flex-direction: column-reverse;
    }

    &__button {
        margin-right: 12px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__buttons-container {
        display: flex;
        margin-top: 40px;

        @media @tablet {
            justify-content: center;
        }
    }

    &__links-container {
        @media @tablet {
            margin-top: 50px;
            order: 2;
            text-align: center;
        }

        &_top {
            @media @tablet {
                order: 3;
            }
        }
    }

    &__main-section {
        flex-basis: 25%;

        @media @tablet {
            margin-top: 80px;
            text-align: center;
        }
    }

    &__main-section-description {
        margin-top: 60px;
    }

    &__main-section-socials-container {
        margin-top: 30px;
    }

    &__subscribe-block {
        display: flex;
        flex-direction: column;
        margin-top: 50px;

        @media @tablet {
            align-items: center;
        }
    }

    &__subscribe-section {
        @media @tablet {
            order: 1;
            margin-top: 50px;
            text-align: center;
        }
    }

    &__subscribe-input-container {
        margin-top: 25px;
        max-width: 100%;
    }
}
