.takeoff-block {
    width: 371px;
    height: 255px;
    margin: 0 15px;
    display: inline-block;
}

@media all and (max-width: 1220px) {
    .takeoff-block {
        order: 1;
    }
}

@media all and (max-width: 1024px) {
    .takeoff-block {
        margin-right: 100px;
        margin-bottom: 100px;
        order: 4;
    
    }
}

@media all and (max-width: 702px) {
    .takeoff-block {
        order: 10;     
        margin: 0; 
        margin-top: 50px;
        height: auto;
        width: 100%; 
    }    
}