.fifth-block {
    height: 1056px;
    
    width: 100%;
    margin: 0 auto;
}

@media all and (max-width: 1600px) {
    .fifth-block {
        height: 900px;
        
    }    
}

@media all and (max-width: 768px) {
    .fifth-block {
        width: 100%;
        height: auto;
        margin: 0 0 100px;
    }    
}

@media all and (max-width: 425px) {
    .fifth-block {
        width: 100%;
               
    }    
}