.fourth-block__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fourth-block__item:nth-child(4) {
    align-self: flex-start;
}
.fourth-block__item img {
    display: block;
}