.header-bottom-wrap__overlay {
    position: absolute;
    background-color: rgb(18, 11, 51);
    opacity: 0.702;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
  }