@import (reference) 'src/styles/adaptive';

.summary-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 9;

    &__image {
        &_bottom {
            margin-top: 20px;

            @media @mobile {
                margin-top: 10px;
            }
        }

        @media @mobile {
            transform: scale(0.8);
        }
    }

    @media @tablet {
       margin: 0 20px;
    }

    @media @mobile {
        flex-basis: 50%;
        margin: 0;
    }
}
