.header-top__bts-wrap {
    display: inline-block;
    padding-left: 144px;
}

@media all and (max-width: 1600px) {
    .header-top__bts-wrap {
        padding-left: 100px;
        
    }    
}

@media all and (max-width: 1210px) {
    .header-top__bts-wrap {
        padding-left: 40px;
    }    
}

@media all and (max-width: 975px) {
    .header-top__bts-wrap {
        display: none;
        

    }    
}