.third-block-section {
    height: 768px;
    width: 100%;
    padding: 178px 375px 0;      
    font-size: 0px;  
}

@media all and (max-width: 1600px) {
    .third-block-section {
        padding: 0 150px; 
        height: 590px;
        margin-bottom: 50px;
    }    
}

@media all and (max-width: 1024px) {
    .third-block-section {
        padding-left: 100px; 
        height: 590px;
        margin-bottom: 50px;
             
    }    
}