@import (reference) 'src/styles/adaptive';
@import (reference) 'src/styles/text';

.components-common-card-product {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 390px;

    @media @tablet {
        width: 320px;
    }

    &__content-container {
        padding: 35px;
        text-align: center;
    }

    &__date {
        color: @grey-9;
        margin-top: 10px;
    }

    &__description {
        margin-top: 8px;
    }

    &__image {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    &__image-container {
        height: 300px;
    }

    &__link {
        .f_p();

        display: inline-block;
        margin-top: 15px;
    }

    &__title {
        .f_h3();

        color: @grey-3;
    }
}
