.header-bottom-wrap__text-wrap {
    position: absolute;    
    top: 306px;
    left: 245px;
    text-align: left;    
    z-index: 11;    
}

@media all and (max-width: 1600px) {
    .header-bottom-wrap__text-wrap {
        top: 200px;
        left: 200px;
        
        
    }    
}

@media all and (max-width: 1024px) {
    .header-bottom-wrap__text-wrap {
        top: 200px;
        left: 100px;
    }    
}

@media all and (max-width: 768px) {
    .header-bottom-wrap__text-wrap {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }    
}