@import (reference) 'src/styles/adaptive';

.modules-pages-home-products {
    &__header-block {
        display: flex;
    }

    &__header-content {
        flex: 1 1 auto;
    }

    &__header-description {
        margin-top: 25px;
        max-width: 600px;
    }

    &__slider-block {
        margin-top: 50px;

        @media @desktop {
            margin-left: -40px;
            margin-right: -40px;
        }

        @media @tablet {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    &__slider-controls {
        align-items: flex-end;
        display: flex;

        @media @mobile {
            display: none;
        }
    }
}
