@import (reference) 'src/styles/adaptive';
@import (reference) 'src/styles/flex';

.header-top {
    height: 130px;
    width: 100%;

    @media @mobile {
        height: 65px;
    }

    &__buttons {
        display: flex;
        margin-left: 144px;
        white-space: nowrap;

        @media @laptop {
            margin-left: 35px;
        }
    }

    &__button {
        &_margin {
            margin-left: 30px;
        }
    }

    &__desktop {
        .f_c();

        height: 100%;
        width: 100%;

        @media @tablet {
            display: none;
        }
    }

    &__nav {
        .f_c();

        margin-left: 84px;
        white-space: nowrap;

        @media @laptop {
            margin-left: 50px;
        }
    }

    &__nav-item {
        margin-left: 30px;

        &:first-child {
            margin-left: 0;
        }
    }
}
