@import (reference) 'src/styles/flex';

.header-top {
    .f_c();

    height: 130px;

    &__buttons {
        display: flex;
        margin-left: 144px;
        white-space: nowrap;
    }

    &__button {
        &_margin {
            margin-left: 30px;
        }
    }

    &__nav {
        .f_c();

        margin-left: 84px;
        white-space: nowrap;
    }

    &__nav-item {
        margin-left: 30px;

        &:first-child {
            margin-left: 0;
        }
    }
}
