<div class="modules-pages-home-hero">
    <div class="modules-pages-home-hero__content-block">
        <div class="modules-pages-home-hero__content-container">
            <h1 class="modules-pages-home-hero__title">perfect app to flight<br />ticket booking</h1>
            <p class="modules-pages-home-hero__description">
                There are many variations of passeges of Lorem Ipsum available, but the majority<br/>
                blanditiis consequuntur repellat repellendus ipsum necessitatibus dolor,<br/>
                suscipit earum praesentium magnam.
            </p>
        </div>
        <div class="modules-pages-home-hero__image-container">
            <img alt="" class="modules-pages-home-hero__image" src="images/header/app-screen.jpg">
            <div class="modules-pages-home-hero__image-back-1"></div>
            <div class="modules-pages-home-hero__image-back-2"></div>
            <div class="modules-pages-home-hero__image-back-3"></div>
        </div>
    </div>
</div>
