@import (reference) 'src/styles/adaptive';
@import (reference) 'src/styles/colors';
@import (reference) 'src/styles/constants';
@import (reference) 'src/styles/font';

.modules-pages-home-hero {
    background-image: url('images/header/overlay.png'), url('images/header/airplane.jpg');
    background-size: cover;
    height: calc(100vh - @header-height_desktop);
    max-height: 1080px;

    @media @tablet {
        height: calc(100vh - @header-height_mobile);
    }

    &__buttons-container {
        display: flex;
        margin-top: 32px;

        @media @laptop {
            justify-content: center;
        }
    }

    &__content-block {
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 100%;
        padding: 10%;

        @media @laptop {
            justify-content: center;
        }
    }

    &__content-container {
        max-width: 600px;
    }

    &__description {
        .f_badge();

        color: @white;
        margin-top: 46px;

        @media @laptop {
            text-align: center;
        }

        @media @mobile {
            margin-top: 20px;
        }
    }

    &__image-back-1 {
        background-color: fade(@white, 80%);
        bottom: -10px;
        height: 50px;
        left: 10px;
        position: absolute;
        right: 10px;
        z-index: 8;
    }

    &__image-back-2 {
        background-color: fade(@white, 60%);
        bottom: -20px;
        height: 50px;
        left: 20px;
        position: absolute;
        right: 20px;
        z-index: 7;
    }

    &__image-back-3 {
        background-color: fade(@white, 40%);
        bottom: -30px;
        height: 50px;
        left: 30px;
        position: absolute;
        right: 30px;
        z-index: 6;
    }

    &__image-container {
        aspect-ratio: 375 / 667;
        max-height: 100%;
        position: relative;

        @media @laptop {
            display: none;
        }
    }

    &__image {
        height: 100%;
        position: relative;
        width: 100%;
        z-index: 9;
    }

    &__title {
        @media @laptop {
            text-align: center;
        }
    }
}
