.header-bottom-wrap__second-img-wrap {
    position: absolute;
    top: 111px;
    left: 1045px; 
    z-index: 100;
}

@media all and (max-width: 1600px) {
    .header-bottom-wrap__second-img-wrap {
        left: 850px;
        
    }    
}

@media all and (max-width: 1024px) {
    .header-bottom-wrap__second-img-wrap {
        left: 680px;        
    }    
}

@media all and (max-width: 768px) {
    .header-bottom-wrap__second-img-wrap {
       display: none;
    }    
}