<div class="input-subscribe">
    <input
            class="input-subscribe__input"
            placeholder="Enter your email"
            type="text"
    >
    <button class="input-subscribe__button" type="button">
        <img class="input-subscribe__image" src="img/subscribe/subscribe.png" alt="Subscribe">
    </button>
</div>
