.fifth-block {
    height: 1056px;
    width: 1920px;
    margin: 0 auto;
}

@media all and (max-width: 1600px) {
    .fifth-block {
        height: 900px;
        width: 1500px;
    }    
}

@media all and (max-width: 768px) {
    .fifth-block {
        width: 768px;
        margin: 0;
    }    
}

@media all and (max-width: 320px) {
    .fifth-block {
        width: 100%;
               
    }    
}