.fifth-block-container-bottom-item__posted-by {
    font-family: 'Raleway', sans-serif;
    font-size: 14px; 
    font-weight: 600;;     
    letter-spacing: 0.14px;
    line-height: 48px;
    margin: 0;
    color: #474747;
}