@black: #000000;
@black_10: fade(@black, 10%);
@black_50: fade(@black, 50%);
@black_85: fade(@black, 85%);

@blue: #251e43;
@blue_dark: #0d063c;

@green_dark: #094b58;
@green_hover: #073741;

@grey: #787878;
@grey-1: #797979;
@grey-2: #f9f8f8;
@grey-3: #474747;
@grey-4: #e2e2e2;

@yellow: #f9bb48;
@yellow_hover: #df9307;

@white: #ffffff;

.white {
    color: @white;
}
