@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    src: url('/fonts/raleway/Raleway-Regular.woff2');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    src: url('/fonts/raleway/Raleway-Bold.woff2');
}
