@import (reference) 'src/styles/colors';

.link {
    cursor: pointer;

    &:hover {
        color: @grey-6;
    }

    &_yellow {
        &:hover {
            color: @yellow_hover;
        }
    }
}
