@import (reference) 'src/styles/colors';

* {
  box-sizing: border-box;
}

a {
  color: @black_85;
  text-decoration: none;
}

body {
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
