html, body {
    margin: 0;
    padding: 0;   
    overflow-x: hidden;    
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 1800px) {
    html, body {
        overflow-x: visible; 
    }
}

@media screen and (max-width: 320px) {
    body {       
        zoom: 42%;                
    }
    
    html, body {        
        overflow-x: hidden;    
    }
}

@media screen and (max-width: 375px) {
    body {       
        zoom: 49%;                
    }
    
    html, body {        
        overflow-x: hidden;    
    }
}

@media screen and (max-width: 425px) {
    body {       
        zoom: 56%;                
    }
    
    html, body {        
        overflow-x: hidden;    
    }
}