@import (reference) 'src/styles/colors';
@import (reference) 'src/styles/flex';
@import (reference) 'src/styles/font';

.modules-common-layout-footer-bottom {
    .f_c();

    background-color: @green_dark;
    height: 80px;
    text-align: center;

    &__text {
        .f_p-small();

        color: @white;
        text-transform: uppercase;
    }
}
