<div class="modules-pages-home-summary">
    <div class="modules-pages-home-summary__content-block">
        <div class="modules-pages-home-summary__content-item-container">
            {{> modules/pages/home/summary/item
                    bottom-image-alt='250 000+ app downloads'
                    bottom-image-src='images/home/summary/250k.png'
                    header-icon='images/common/download.svg'
                    title="app downloads"
            }}
        </div>
        <div class="modules-pages-home-summary__divider-container">
            {{> modules/common/divider }}
        </div>
        <div class="modules-pages-home-summary__content-item-container">
            {{> modules/pages/home/summary/item
                    bottom-image-alt='100 000+ active users count'
                    bottom-image-src='images/home/summary/100k.png'
                    header-icon='images/common/users.svg'
                    title="active users count"
            }}
        </div>
        <div class="modules-pages-home-summary__divider-container modules-pages-home-summary__divider-container_offset-top">
            {{> modules/common/divider
                    down=true
            }}
        </div>
        <div class="modules-pages-home-summary__content-item-container">
            {{> modules/pages/home/summary/item
                    bottom-image-alt='20+ best awards'
                    bottom-image-src='images/home/summary/20.png'
                    header-icon='images/common/reward.svg'
                    title="best awards"
            }}
        </div>
        <div class="modules-pages-home-summary__divider-container">
            {{> modules/common/divider }}
        </div>
        <div class="modules-pages-home-summary__content-item-container">
            {{> modules/pages/home/summary/item
                    bottom-image-alt='95% happy users'
                    bottom-image-src='images/home/summary/95.png'
                    header-icon='images/common/heart.svg'
                    title="happy users"
            }}
        </div>
    </div>
</div>
