<div class="modules-pages-home-summary">
    <div class="modules-pages-home-summary__content-block">
        {{> modules/pages/home/summary/item
                bottom-image-alt='250 000+ app downloads'
                bottom-image-src='images/home/summary/250k.png'
                header-icon='images/common/download.svg'
                title="app downloads"
        }}
        {{> modules/common/divider }}
        {{> modules/pages/home/summary/item
                bottom-image-alt='100 000+ active users count'
                bottom-image-src='images/home/summary/100k.png'
                header-icon='images/common/users.svg'
                title="active users count"
        }}
        {{> modules/common/divider
                down=true
        }}
        {{> modules/pages/home/summary/item
                bottom-image-alt='20+ best awards'
                bottom-image-src='images/home/summary/20.png'
                header-icon='images/common/reward.svg'
                title="best awards"
        }}
        {{> modules/common/divider }}
        {{> modules/pages/home/summary/item
                bottom-image-alt='95% happy users'
                bottom-image-src='images/home/summary/95.png'
                header-icon='images/common/heart.svg'
                title="happy users"
        }}
    </div>
</div>
