<div class="modules-pages-home-summary">
    <div class="modules-pages-home-summary__content-block">
        <div class="modules-pages-home-summary__content-item-container">
            {{> modules/pages/home/summary/item
                    bottom-image-alt='250 000+ app downloads'
                    bottom-image-src='images/pages/home/summary/1/250k.png'
                    header-icon='download'
                    title="app downloads"
            }}
        </div>
        <div class="modules-pages-home-summary__divider-container">
            {{> components/common/divider }}
        </div>
        <div class="modules-pages-home-summary__content-item-container">
            {{> modules/pages/home/summary/item
                    bottom-image-alt='100 000+ active users count'
                    bottom-image-src='images/pages/home/summary/2/100k.png'
                    header-icon='users'
                    title="active users count"
            }}
        </div>
        <div class="modules-pages-home-summary__divider-container modules-pages-home-summary__divider-container_offset-top">
            {{> components/common/divider
                    down=true
            }}
        </div>
        <div class="modules-pages-home-summary__content-item-container">
            {{> modules/pages/home/summary/item
                    bottom-image-alt='20+ best awards'
                    bottom-image-src='images/pages/home/summary/3/20.png'
                    header-icon='reward'
                    title="best awards"
            }}
        </div>
        <div class="modules-pages-home-summary__divider-container">
            {{> components/common/divider }}
        </div>
        <div class="modules-pages-home-summary__content-item-container">
            {{> modules/pages/home/summary/item
                    bottom-image-alt='95% happy users'
                    bottom-image-src='images/pages/home/summary/4/95.png'
                    header-icon='heart'
                    title="happy users"
            }}
        </div>
    </div>
</div>
