@import (reference) 'src/styles/adaptive';
@import (reference) 'src/styles/colors';
@import (reference) 'src/styles/overlay';

.modules-pages-home-summary {
    .overlay();

    background: url('images/home/summary/main.jpg') center no-repeat;
    background-size: cover;
    height: 465px;
    position: relative;

    &__content-block {
        align-items: center;
        color: @white;
        display: flex;
        height: 100%;
        justify-content: space-around;
        padding: 0 100px;
        position: relative;

        @media @laptop {
            padding: 0;
        }

        @media @tablet {
            flex-wrap: wrap;
        }
    }
}
