<div class="modules-pages-home-summary">
    {{> modules/pages/home/summary/summary-item
            bottom-image-alt='Downloads count'
            bottom-image-src='images/home/summary/first-item/bottom.png'
            top-image-alt='250 000'
            top-image-src='images/home/summary/first-item/top.png'
    }}
    {{> modules/pages/home/summary/separate-line }}
    {{> modules/pages/home/summary/summary-item
            bottom-image-alt='Active users count'
            bottom-image-src='images/home/summary/second-item/bottom.png'
            top-image-alt='100 000'
            top-image-src='images/home/summary/second-item/top.png'
    }}
    {{> modules/pages/home/summary/separate-line top=true}}
    {{> modules/pages/home/summary/summary-item
            bottom-image-alt='Best awards'
            bottom-image-src='images/home/summary/third-item/bottom.png'
            top-image-alt='More than 20'
            top-image-src='images/home/summary/third-item/top.png'
    }}
    {{> modules/pages/home/summary/separate-line}}
    {{> modules/pages/home/summary/summary-item
            bottom-image-alt='Happy users'
            bottom-image-src='images/home/summary/fourth-item/bottom.png'
            top-image-alt='95%'
            top-image-src='images/home/summary/fourth-item/top.png'
    }}
</div>
