{{#> app }}
    {{#> modules/common/layout/layout }}
        <div class="pages-home">
            {{> modules/pages/home/hero }}
            <div class="modules-common-layout-container pages-home__container">
                {{> modules/pages/home/description-short }}
            </div>
            <div class="pages-home__container">
                {{> modules/pages/home/download-app }}
            </div>
            <div class="modules-common-layout-container pages-home__container">
                {{> modules/pages/home/description }}
            </div>
            <div class="pages-home__container">
                {{> modules/pages/home/summary }}
            </div>
            <div class="pages-home__container">
                {{> modules/pages/home/products }}
            </div>
        </div>
    {{/modules/common/layout/layout }}
{{/app }}
