@import 'src/styles/index.less';

.pages-home {
    &__container {
        margin-top: 180px;

        @media @tablet {
            margin-top: 120px;
        }

        @media @mobile {
            margin-top: 60px;
        }
    }
}
