@import 'src/styles/adaptive.less';
@import 'src/styles/container.less';
@import 'src/styles/normalize.less';
@import 'src/styles/tags.less';

.pages-home {
    &__container {
        margin-top: 180px;

        @media @tablet {
            margin-top: 120px;
        }

        @media @mobile {
            margin-top: 60px;
        }
    }
}
