{{#> app }}
    {{#> modules/common/layout/components/layout }}
        <div class="pages-home">
            {{> modules/pages/home/hero }}
            <div class="page__content-area">
                <div class="pages-home__container">
                    {{> modules/pages/home/description-short }}
                </div>
                <div class="pages-home__container">
                    {{> modules/pages/home/download-app }}
                </div>
                <div class="pages-home__container">
                    {{> modules/pages/home/description }}
                </div>
                {{> modules/pages/home/summary }}
                {{> modules/pages/home/products }}
            </div>
        </div>
    {{/modules/common/layout/components/layout }}
{{/app }}
