@import (reference) 'src/styles/colors';
@import (reference) 'src/styles/flex';
@import (reference) 'src/styles/helpers';

.components-common-slider-main-controls {
    .f_c();

    &__arrow {
        color: @grey-8;
        height: 40px;
        width: 40px;

        &_left {
            transform: rotate(180deg);
        }
    }

    &__arrow-container {
        .f_c();

        background-color: @yellow;
        border-radius: 50%;
        cursor: pointer;
        height: 70px;
        user-select: none;
        width: 70px;

        &_right {
            margin-left: 30px;
        }

        &.swiper-button-disabled {
            background-color: @grey-4;
            pointer-events: none;
        }
    }
}
