<div
        class="components-common-slider-main-controls j-components-common-slider-main__controls"
        data-slider-id="{{slider-id}}"
>
    <button
        class="components-common-slider-main-controls__arrow-container j-components-common-slider-main__control-prev"
        type="button"
    >
        {{> components/common/svg
                className="components-common-slider-main-controls__arrow components-common-slider-main-controls__arrow_left"
                icon='arrow'
        }}
    </button>
    <button
        class="components-common-slider-main-controls__arrow-container components-common-slider-main-controls__arrow-container_right j-components-common-slider-main__control-next"
        type="button"
    >
        {{> components/common/svg
                className="components-common-slider-main-controls__arrow"
                icon='arrow'
        }}
    </button>
</div>
