<div class="footer-top-main">
    {{> components/common/logo }}
    <p class="footer-top-main__description">Lorem, natus officia accusantium laudantium fugiat nihil nesciunt, voluptatem aliquid laborum voluptate amet. Totam aliquid dolorum aspernatur?</p>
    <div class="footer-top-main__follow">
        {{> components/common/follow }}
    </div>
</div>
