.second-block-img-container {
    position: relative;
    width: 715px;
    height: 100%;
    display: inline-block;    
    background-image: url(second-block-img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    
}



@media all and (max-width: 1024px) {
    .second-block-img-container {
        display: none;        
    }    
}

@media all and (max-width: 975px) {
    .second-block-img-container {        
        display: none; 
        
        
        
    }    
}

@media all and (max-width: 425px) {
    .second-block-img-container {
           
        
        display: none;  
    }    
}



