.second-block-img-container__circle {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0.149;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 118px;
    height: 118px;
    z-index: 1;
  }

  @media all and (max-width: 1600px) {
    .second-block-img-container__circle {
      width: 80px;
      height: 80px;
           
    }    
}