.second-block-img-container {
    position: relative;
    width: 715px;
    height: 100%;
    display: inline-block;    
    background-image: url(second-block-img.jpg);
    background-size: contain;
    background-repeat: no-repeat;        
}

@media all and (max-width: 1600px) {
    .second-block-img-container {
        width: 600px; 
    }    
}

@media all and (max-width: 1024px) {
    .second-block-img-container {
        width: 40%;        
    }    
}

@media all and (max-width: 768px) {
    .second-block-img-container {
        width: 400px;
        order: 1;
        
        
        
    }    
}

@media all and (max-width: 425px) {
    .second-block-img-container {
        height: 33%;        
    }    
}

