.fifth-block-container {
    height: auto;
    width: 1190px;
    margin: 0 auto;
    font-size: 0;
}

@media all and (max-width: 768px) {
    .fifth-block-container {
        width: 100%;
               
    
    }
}