.footer-bottom-text__p {
    margin: 0;        
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 16px; 
    font-weight: 400;    
    color: #ffffff;    
}

@media all and (max-width: 975px) {
    .footer-bottom-text__p {
        font-size: 14px;
    }    
}

@media all and (max-width: 702px) {
    .footer-bottom-text__p {
        font-size: 8px; 
               
    }    
}