<div class="components-common-burger j-components-common-burger">
    <div class="components-common-burger__line"></div>
    <div class="components-common-burger__line"></div>
    <div class="components-common-burger__line"></div>
</div>
