.fifth-block-container-bottom-item-read-more {    
    text-decoration: none;
    color: #474747; 
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;   
}
.fifth-block-container-bottom-item-read-more p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px; 
    font-weight: 700;     
    letter-spacing: 0.16px;
    display: inline-block;   
    margin: 0;   
    margin-right: 15px;  
}
.fifth-block-container-bottom-item-read-more:hover p {      
    color: #f9ba48;    
}