.nav-mobile {
    display: none;
   
}    

@media all and (max-width: 975px) {
    .nav-mobile {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        display: block;
        width: 60%;
        height: 200px;
        visibility: hidden;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;

        transform: translate(-50%, 0%);
        background-color: transparent;
        white-space: nowrap;
    }    
}

@media all and (max-width: 670px) {
    .nav-mobile {
        transform: translate(-50%, 0%);
        background-color: transparent;
        white-space: nowrap;
        
    }    
}


@media all and (max-width: 425px) {
    .nav-mobile {
        background-color: hsla(236, 64%, 42%, 0.157);
        top: 148px;
        transform: translate(-50%, -50%);
        width: 100%;
    }    
}