@import (reference) 'src/styles/colors';

.components-common-list {
    display: flex;
    flex-direction: column;

    &__item {
        margin-top: 25px;
        text-transform: capitalize;
    }
}
