<button
        class="components-common-buttons-store-google"
        type="button"
>
    <img
            alt="Download from Google Play"
            class="components-common-buttons-store-google__image"
            loading="lazy"
            src="/icons/static/googlePlay.svg"
    >
</button>
