<button
        class="components-common-buttons-store-google"
        type="button"
>
    <img
            alt="Download from Google Play"
            class="components-common-buttons-store-google__image"
            src="/images/common/googlePlay.svg"
    >
</button>
