@import (reference) 'src/styles/colors';
@import (reference) 'src/styles/flex';

.components-common-side-menu {
    background-color: @black_50;
    bottom: 0;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 100%;
    top: 0;
    transition: opacity 300ms ease-out, right 0ms 300ms;
    width: 100%;
    z-index: 999;

    &.active {
        opacity: 1;
        right: 0;
        transition: opacity 300ms ease-in;
    }

    &__content {
        background-color: @white;
        height: 100%;
        padding: 50px 20px;
        transition: width 300ms ease-out;
        width: 0;

        .components-common-side-menu.active & {
            width: 80%;
        }
    }
}
