@import (reference) 'src/styles/colors';
@import (reference) 'src/styles/flex';

.side-menu {
    background-color: @black_50;
    height: 100%;
    position: absolute;
    transition: visibility 500ms ease-in;
    visibility: hidden;
    width: 100%;
    z-index: 999;

    &_active {
        visibility: visible;

        .side-menu__content {
            width: 60%;
        }
    }

    &__content {
        background-color: @white;
        height: 100%;
        overflow: hidden;
        padding: 50px 20px;
        transition: width 500ms ease-in;
        width: 0;
        z-index: 9999;
    }
}
