.recomended-block {
    width: 170px;
    height: 269px;
    margin: 0 15px;
}

@media all and (max-width: 1220px) {
    .recomended-block {
        order: 2;
    }
}

@media all and (max-width: 1024px) {
    .recomended-block {
        order: 2;
        height: 300px;
        margin: 0 25px;
    }
}



/* @media all and (max-width: 7.02px) {
    .recomended-block {
        order: 1;     
        margin: 10px 0; 
        height: auto; 
    }    
} */