<div class="description-short" id="how-it-works">
    <h2>How does it work</h2>
    <p class="description-short__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem aut
        dolores harum sunt vel</p>
    <div class="description-short__items-container">
        {{> modules/pages/home/description-short/description-short-item
                alt='Clock'
                description='Lorem ipsum dolor sit amet consectetur, adipisicing elit'
                src='images/home/description-short/clock.jpg'
                title='Search destination'
        }}
        <div class="description-short__divider description-short__divider_up">
            {{> modules/pages/home/description-short/description-short-divider
                    up=true
            }}
        </div>
        {{> modules/pages/home/description-short/description-short-item
                alt='Airplane'
                description='Lorem ipsum dolor sit amet consectetur, adipisicing elit'
                src='images/home/description-short/airplane.jpg'
                title='Book flight'
        }}
        <div class="description-short__divider description-short__divider_down">
            {{> modules/pages/home/description-short/description-short-divider}}
        </div>
        {{> modules/pages/home/description-short/description-short-item
                alt='Light house'
                description='Lorem ipsum dolor sit amet consectetur, adipisicing elit'
                src='images/home/description-short/light-house.jpg'
                title='Enjoy You Journey'
        }}
    </div>
</div>
