<div
        class="modules-pages-home-description-short"
        id="how-it-works"
>
    <h2>How does it work</h2>
    <p class="modules-pages-home-description-short__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem aut
        dolores harum sunt vel</p>
    <div class="modules-pages-home-description-short__items-container">
        {{> modules/pages/home/description-short/item
                description='Lorem ipsum dolor sit amet consectetur, adipisicing elit'
                src='images/common/compass.svg'
                title='Search destination'
        }}
        <div class="modules-pages-home-description-short__divider-container">
            {{> modules/pages/home/description-short/divider}}
        </div>
        {{> modules/pages/home/description-short/item
                description='Lorem ipsum dolor sit amet consectetur, adipisicing elit'
                src='images/common/airplane.svg'
                title='Book flight'
        }}
        <div class="modules-pages-home-description-short__divider-container modules-pages-home-description-short__divider-container_second">
            {{> modules/pages/home/description-short/divider
                    down=true
            }}
        </div>
        {{> modules/pages/home/description-short/item
                description='Lorem ipsum dolor sit amet consectetur, adipisicing elit'
                src='images/common/paris.svg'
                title='Enjoy You Journey'
        }}
    </div>
</div>
