<div class="components-common-buttons-store-all">
    <div class="components-common-buttons-store-all__button-container">
        {{> components/common/buttons/store/apple }}
    </div>
    <div class="components-common-buttons-store-all__button-container">
        {{> components/common/buttons/store/google }}
    </div>
</div>
