.links-block {
    width: 170px;
    height: 268px;
    margin: 0 15px;
}

@media all and (max-width: 1024px) {
    .links-block {
        order: 2;
               
    
    }
}

@media all and (max-width: 425px) {
    .links-block {
        order: 2;     
        margin: 10px 0; 
        height: auto; 
    }    
}