.links-block {
    width: 170px;
    height: 268px;
    margin: 0 15px;
}

@media all and (max-width: 1220px) {
    .links-block {
        order: 4;
        margin-top: 50px;
        height: 300px;
    }
}

@media all and (max-width: 1024px) {
    .links-block {
        order: 2;
               
    
    }
}

@media all and (max-width: 702px) {
    .links-block {
        order: 2;     
        margin: 10px 0; 
        height: auto; 
    }    
}