@media all and (max-width: 975px) {
    .header-top__bts-mobile-wrap {
        margin-left: 10px;
        margin-top: 20px;
    }    
}

/* @media all and (max-width: 425px) {
    .header-top__bts-mobile-wrap {
        margin-left: 0px;
    }    
} */