.nav-mobile {
    display: none;
   
}    

@media all and (max-width: 975px) {
    .nav-mobile {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        display: block;
        width: 60%;
        height: 100px;
        visibility: hidden;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }    
}