<div class="modules-pages-home-description-short-item">
    <div class="modules-pages-home-description-short-item__image-container">
        <img alt="" class="modules-pages-home-description-short-item__image" src="{{src}}">
    </div>
    <h3 class="modules-pages-home-description-short-item__title">{{title}}</h3>
    <p class="modules-pages-home-description-short-item__description">{{description}}</p>
</div>
