<div class="slider-controls j-swiper-controls" data-swiper-id="{{swiper-id}}">
    <span class="slider-controls__arrow-container j-swiper-left-arrow">
        <span class="arrow arrow__left slider-controls__arrow"></span>
    </span>
    <span class="slider-controls__arrow-container slider-controls__arrow-container_right j-swiper-right-arrow">
        <span class="arrow arrow__right slider-controls__arrow"></span>
    </span>
</div>
