<div class="footer-top">
    {{> modules/common/layout/footer/footer-top/footer-top-main }}
    <div class="footer-top__links footer-top__links_top">
        {{#with recommendations}}
            {{> components/common/list
                    items=items
                    title=title
            }}
        {{/with}}
    </div>
    <div class="footer-top__links">
        {{#with links}}
            {{> components/common/list
                    items=items
                    title=title
            }}
        {{/with}}
    </div>
    <div class="footer-top__subscribe-container">
        <h6>Subscribe & download</h6>
        <div class="footer-top__subscribe">
            <p>Subscribe to our newsletter for latest update</p>
            <div class="footer-top__subscribe-input-container">
                {{> components/common/input-subscribe }}
            </div>
        </div>
        <div class="footer-top__buttons">
            <div class="footer-top__buttons-container">
                <div class="footer-top__button">
                    {{> components/common/buttons/store/apple }}
                </div>
                <div class="footer-top__button">
                    {{> components/common/buttons/store/google }}
                </div>
            </div>
        </div>
    </div>
</div>
