.third-block-img__second-img {
    position: absolute;
    top: 74px;
    left: 0px;         
    height: 457px;
    width: 257px;
    z-index: 0;
    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.15)
}
li:nth-child(even) .third-block-img__second-img {
    left: 216px;
}