<div class="products">
    {{#with slider}}
        {{#> slider/index}}
            {{#each products}}
                {{#> slider-item/index}}
                    {{> product-card/index}}
                {{/slider-item/index}}
            {{/each}}
        {{/slider/index}}
    {{/with}}
</div>
