@import (reference) 'src/styles/adaptive';

.products {
    padding: 130px 0 300px;

    &__header-description {
        margin-top: 25px;
        max-width: 600px;
    }

    &__slider {
        margin-top: 50px;
    }
}
