@import (reference) 'src/styles/adaptive';

.products {
    padding: 130px 0 300px;

    @media @desktop {
        padding: 130px 50px 300px;
    }

    @media @tablet {
        padding: 130px 50px 150px;
    }

    @media @mobile {
        padding: 80px 5vw 80px;
    }

    &__header {
        display: flex;
    }

    &__header-content {
        flex: 1;
    }

    &__header-description {
        margin-top: 25px;
        max-width: 600px;
    }

    &__slider {
        margin-top: 50px;
    }

    &__slider-container-class {
        margin: 0 -30px -70px!important;
        padding: 0 30px 70px!important;
    }

    &__slider-controls {
        @media @mobile {
            display: none;
        }
    }
}
