<div class="products">
    {{#with slider}}
        {{#> slider/index}}
            {{#each products}}
                {{> product-card/index}}
            {{/each}}
        {{/slider/index}}
    {{/with}}
</div>
