@import (reference) 'src/styles/adaptive';
@import (reference) 'src/styles/constants';

.modules-common-layout-header {
    height: @header-height_desktop;
    padding: 20px 0;

    @media @tablet {
        height: @header-height_mobile;
    }

    &__buttons-container {
        @media @tablet {
            display: none;
        }
    }

    &__burger-container {
        display: none;

        @media @tablet {
            display: block;
        }
    }

    &__container {
        flex-basis: 25%;

        &_right {
            text-align: right;
        }
    }

    &__content-block {
        align-items: center;
        display: flex;
        margin: auto;
        max-width: 1280px;

        @media @tablet {
            justify-content: space-between;
        }
    }

    &__navigation-container {
        align-items: center;
        display: flex;
        flex: 1 1 auto;
        justify-content: center;

        @media @tablet {
            display: none;
        }
    }

    &__navigation-item {
        margin-right: 35px;
        text-transform: uppercase;
        white-space: nowrap;

        &:last-child {
            margin-right: 0;
        }
    }
}
