<header class="container modules-common-layout-header">
    {{#with header}}
        <div class="modules-common-layout-header__content-block">
            <div class="modules-common-layout-header__logo-container">
                {{> components/common/logo }}
            </div>
            <div class="modules-common-layout-header__navigation-container">
                {{#each links}}
                    <div class="modules-common-layout-header__navigation-item">
                        <a class="link" href="{{link}}">{{title}}</a>
                    </div>
                {{/each}}
            </div>
            <div class="modules-common-layout-header__content-container modules-common-layout-header__content-container_right">
                <div class="modules-common-layout-header__buttons-container">
                    <button class="button button_light" type="button">sign in</button>
                </div>
                <div class="modules-common-layout-header__burger-container">
                    {{> components/common/burger }}
                </div>
            </div>
        </div>
    {{/with}}
</header>
