.header-bottom-wrap__text-primery {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 46px;
    line-height: 60px;
    color: #ffffff;
    font-weight: 800;
}

@media all and (max-width: 1600px) {
    .header-bottom-wrap__text-primery {
        font-size: 35px;
        line-height: 50px;
        
    }    
}

@media all and (max-width: 425px) {
    .header-bottom-wrap__text-primery {
        font-size: 21px;
        line-height: 26px;       
    }    
}