.nav {    
    padding-left: 84px;
    display: inline-block;
}

@media all and (max-width: 1600px) {
    .nav {
        padding-left: 50px;
           
    }    
}

@media all and (max-width: 1024px) {
    .nav {
        padding-left: 10px;
        
    }    
}