<div class="summary">
    {{> summary-item/index
            bottom-image-alt='Downloads count'
            bottom-image-src='images/main/summary/first-item/bottom.png'
            top-image-alt='250 000'
            top-image-src='images/main/summary/first-item/top.png'
    }}
    {{> separate-line/index}}
    {{> summary-item/index
            bottom-image-alt='Active users count'
            bottom-image-src='images/main/summary/second-item/bottom.png'
            top-image-alt='100 000'
            top-image-src='images/main/summary/second-item/top.png'
    }}
    {{> separate-line/index top=true}}
    {{> summary-item/index
            bottom-image-alt='Best awards'
            bottom-image-src='images/main/summary/third-item/bottom.png'
            top-image-alt='More than 20'
            top-image-src='images/main/summary/third-item/top.png'
    }}
    {{> separate-line/index}}
    {{> summary-item/index
            bottom-image-alt='Happy users'
            bottom-image-src='images/main/summary/fourth-item/bottom.png'
            top-image-alt='95%'
            top-image-src='images/main/summary/fourth-item/top.png'
    }}
</div>
