<div class="components-common-list-links">
    <h6>{{title}}</h6>
    {{#each items}}
        <a
                class="link components-common-list-links__item"
                href="{{url}}"
        >{{name}}</a>
    {{/each}}
</div>
