@import (reference) 'src/styles/colors';
@import (reference) 'src/styles/link';

.components-common-list-links {
    display: flex;
    flex-direction: column;

    &__item {
        margin-top: 25px;
        text-transform: capitalize;
    }
}
