@import (reference) 'src/styles/adaptive';

.swiper-slide {
    margin-right: 120px;
    width: auto !important;

    @media @desktop {
        margin-right: 80px;
    }

    @media @tablet {
        margin-right: 20px;
    }

    &:last-child {
        margin-right: 0;
    }
}
