.footer-top {
    min-height: 544px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
}

@media all and (max-width: 1220px) {
    .footer-top {
        padding: 50px 200px;
    }
}

@media all and (max-width: 1024px) {
    .footer-top {        
        margin-bottom: 0;
        padding: 50px 200px 100px;
        align-items: flex-start;
               
    
    }
}

@media all and (max-width: 856px) {
    .footer-top {       
        
        padding: 50px 0 100px;
       
               
    
    }
}

@media all and (max-width: 456px) {
    .footer-top {       
        
        padding: 0 0 100px;
       
               
    
    }
}
