@import (reference) 'src/styles/adaptive';
@import (reference) 'src/styles/flex';

.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 130px;

    @media @laptop {
        padding-left: 0;
    }
}
