.second-block-img-container {
    position: relative;
    width: 715px;
    height: 100%;
    display: inline-block;    
    background-image: url(second-block-img.jpg);
    background-repeat: no-repeat;        
}