<div class="modules-common-divider {{#if down}}modules-common-divider_down{{/if}}">
    {{> components/common/svg
            className="modules-common-divider__icon"
            icon='arc'
    }}
</div>
