.second-block-content-container__h2 {
    margin: 0;
    
    
    padding-bottom: 35px;   
    font-family: 'Raleway', sans-serif;
    font-size: 30px;    
    color: #797979;
    font-weight: 600; 
    line-height: 36px;    
  }

  @media all and (max-width: 1024px) {
    .second-block-content-container__h2 {
      font-size: 20px;
      line-height: 20px;

    }    
}

