.fifth-block-container-bottom-item {
    display: inline-block;
    
    width: 370px;
    height: 592px;    
    vertical-align: top;    
    font-size: 0;    
}

@media all and (max-width: 425px) {
    .fifth-block-container-bottom-item {
        width: 280px;
               
    }    
}