<div class="modules-common-layout-footer" id="contact">
    {{#with footer}}
        <div class="container">
            {{> modules/common/layout/footer/top }}
        </div>
        <div class="modules-common-layout-footer__bottom-container">
            {{> modules/common/layout/footer/bottom }}
        </div>
    {{/with}}
</div>
