.third-block-content__img {
    padding-top: 112px;
    margin-bottom: 59px;
 }

 @media all and (max-width: 1600px) {
    .third-block-content__img {
        padding-top: 80px; 
           
    }    
}

@media all and (max-width: 975px) {
    .third-block-content__img {
        padding-top: 0;
    }    
}