<div class="footer-top">
    {{> footer-top-main/index}}
    <div>
        {{#with recommendations}}
            {{> list/index
                    items=items
                    title=title
            }}
        {{/with}}
    </div>
    <div>test</div>
    <div>test</div>
</div>
