.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 100px 20px 0;

    &__buttons {
        margin-top: 40px;
    }

    &__subscribe {
        margin-top: 50px;
    }

    &__subscribe-input-container {
        margin-top: 25px;
    }
}
