<div class="footer-top">
    {{> footer-top-main/index}}
    <div>
        {{#with recommendations}}
            {{> list/index
                    items=items
                    title=title
            }}
        {{/with}}
    </div>
    <div>
        {{#with links}}
            {{> list/index
                    items=items
                    title=title
            }}
        {{/with}}
    </div>
    <div>
        <h6>Subscribe & download</h6>
    </div>
</div>
