<div class="footer-top">
    {{> footer-top-main/index}}
    <div>
        {{#with recommendations}}
            {{> list/index
                    items=items
                    title=title
            }}
        {{/with}}
    </div>
    <div>
        {{#with links}}
            {{> list/index
                    items=items
                    title=title
            }}
        {{/with}}
    </div>
    <div>
        <h6>Subscribe & download</h6>
        <div class="footer-top__subscribe">
            <p>Subscribe to our newsletter for latest update</p>
            <div class="footer-top__subscribe-input-container">
                {{> input-subscribe/index}}
            </div>
        </div>
        <div class="footer-top__buttons">
            {{> app-buttons/index
                    app-buttons-class="app-buttons_small"
            }}
        </div>
    </div>
</div>
