.test {
    position: relative;
    width: 75%;
    height: 33%;
}

.test__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media all and (min-width: 769px) {
    .test {
        
        display: none;  
    }    
}

@media all and (max-width: 768px) {
    .test {
        
        height: 60%;
    }    
}

@media all and (max-width: 480px) {
    .test {
        
        height: 45%;  
    }    
}