.first-block__header {    
    height: 334px;    
    padding-top: 180px;
    text-align: center;
}

@media all and (max-width: 1600px) {
    .first-block__header {        
        height: 200px; 
        padding-top: 80px;       
    }    
}