.first-block {
    margin: 0 auto;    
    height: 831px;
    width: 1920px;        
}

@media all and (max-width: 1600px) {
    .first-block {        
        width: 100%; 
        height: auto;    
        margin-bottom: 80px;   
    }    
}

@media all and (max-width: 1024px) {
    .first-block {
        width: 1000px;
        margin: 0 0 100px;
    }    
}

@media all and (max-width: 768px) {
    .first-block {
        width: 768px;
        margin: 0 0 100px;
    }    
}