.first-block {
    margin: 0 auto;    
    height: 831px;
    width: 1920px;        
}

@media all and (max-width: 1600px) {
    .first-block {        
    width: 100%;        
    }
}    

@media all and (max-width: 1024px) {
    .first-block {        
        margin: 0 0 100px;
        padding: 0 100px;
    }    
}

@media all and (max-width: 975px) {
    .first-block {        
        height: auto;
    }    
}


@media all and (max-width: 425px) {
    .first-block {
        width: 100%;        
    }    
}