@import (reference) 'src/styles/adaptive';
@import (reference) 'src/styles/flex';

.description-short {
    .f_c();

    flex-direction: column;
    padding: 180px 0;
    text-align: center;

    @media @tablet {
        padding: 120px 20px;
    }

    @media @mobile {
        padding: 60px 20px;
    }

    &__description {
        margin-top: 20px;
    }

    &__divider {
        @media @tablet {
            display: none;
        }

        &_up {
            margin: 60px 20px 0;
        }

        &_down {
            margin: 80px 20px 0;
        }
    }

    &__items-container {
        align-items: flex-start;
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        padding: 0 15%;
        width: 100%;

        @media @laptop {
            padding: 0;
        }

        @media @tablet {
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin-top: 50px;
        }

        @media @mobile {
            margin-top: 0;
        }
    }
}
