.modules-common-layout-body {
    height: 100%;
    margin: 0 auto;
    max-width: 1920px;
    min-height: 100vh;
    position: relative;

    &__footer-container {
        margin-top: 100px;
    }
}
