<div class="modules-common-layout-body">
    {{> modules/common/layout/header }}
    {{> @partial-block}}
    <div class="modules-common-layout-body__footer-container">
        {{> modules/common/layout/footer }}
    </div>
</div>
