.nav__a {
    text-decoration: none;   
    text-transform: uppercase; 
    font-family: 'Lato', sans-serif;    
    letter-spacing: 0.14px;
    font-size: 14px;
    font-weight: bold;      
    color: hsl(0, 0%, 47%);
    overflow: hidden;    
}
.nav__a:hover {    
    color: hsl(0, 0%, 15%);
    text-decoration-line: underline;
}

@media all and (max-width: 1210px) {
    .nav__a {
        font-size: 12px;
    }    
}

@media all and (max-width: 975px) {
    .nav__a {
        color: hsl(0, 0%, 100%);
        
    }    
}