<header class="header">
    <div class="header-top" id="main">
        <nav class="nav-mobile">
            <ul class="nav__ul">
                <li class="nav__item"><a href="#" class="nav__a">OVERVIEW</a></li>
                <li class="nav__item"><a href="#how-it-works" class="nav__a">HOW IT WORKS</a></li>
                <li class="nav__item"><a href="#features" class="nav__a">FEATURES</a></li>
                <li class="nav__item"><a href="#app" class="nav__a">APP</a></li>
                <li class="nav__item"><a href="#contact" class="nav__a">CONTACT</a></li>
            </ul>
            <div class="header-top__bts-mobile-wrap">
                <div class="btns">
                    <button class="btn-sing-in" type="button">
                        SIGN IN
                    </button>
                    <button class="btn-contact" type="button" onclick="window.location.href='contacts'">
                        CONTACT
                    </button>
                </div>
            </div>
        </nav>
        <div class="header-top__wrap">
            <div class="logo">
                <a href="#main"><img src="img/logo.jpg.png" alt="TAKEOFF"></a>
            </div>
            <nav class="nav">
                <ul class="nav__ul">
                    <li class="nav__item"><a href="#" class="nav__a">OVERVIEW</a></li>
                    <li class="nav__item"><a href="#how-it-works" class="nav__a">HOW IT WORKS</a></li>
                    <li class="nav__item"><a href="#features" class="nav__a">FEATURES</a></li>
                    <li class="nav__item"><a href="#app" class="nav__a">APP</a></li>
                    <li class="nav__item"><a href="#contact" class="nav__a">CONTACT</a></li>
                </ul>
            </nav>
            <div class="header-top__wrapMenuToggle">
                <div class="menuToggle">
                    <input type="checkbox" />
                    <span class="span1"></span>
                    <span class="span2"></span>
                    <span class="span3"></span>
                </div>
            </div>
            <div class="header-top__bts-wrap">
                <div class="btns">
                    <button class="btn-sing-in" type="button">
                        SIGN IN
                    </button>
                    <button class="btn-contact" type="button" onclick="window.location.href='contacts'">
                        CONTACT
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="header-bottom-wrap">
            <div class="header-bottom-wrap__overlay"></div>
            <img class="header-bottom-wrap__img" src="img/Main-img/pexels-photo-615060.png.jpg" alt="Airplane">
            <div class="header-bottom-wrap__second-img-wrap">
                <div class="second-img">
                    <img src="img/TiketDetails.jpg" alt="App screen" class="second-img__main-img">
                    <div class="second-img__first-el"></div>
                    <div class="second-img__second-el"></div>
                    <div class="second-img__third-el"></div>
                </div>
            </div>
            <div class="header-bottom-wrap__text-wrap">
                <h1 class="header-bottom-wrap__text-primery">
                    perfect app to flight<br>ticket booking
                </h1>
                <p class="header-bottom-wrap__text-secondary">
                    There are many variations of passeges of Lorem Ipsum available, but the majority have<br />
                    blanditiis consequuntur repellat repellendus ipsum necessitatibus dolor,<br />
                    suscipit earum praesentium magnam.
                </p>
                <div class="header-bottom-wrap__btns-wrap">
                    <div class="header-bottom-btns">
                        <div class="header-bottom-btns__wrap">
                            <button class="header-bottom-btns__apple-btn" type="button">
                                <img src="img/Apple-logo.png" alt="Apple logo" class="header-bottom-btns__apple-logo">
                                <img src="img/DownloadFromAppleStore.png" alt="Download From Apple Store"
                                    class="header-bottom-btns__apple-text">
                            </button>
                            <button class="header-bottom-btns__gplay-btn" type="button">
                                <img src="img/google-play-logo.png" alt="Google Play logo"
                                    class="header-bottom-btns__gplay-logo">
                                <img src="img/DownloadFromPlayStore.png" alt="Download From Play Store"
                                    class="header-bottom-btns__gplay-text">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>