.fifth-block-container-buttons {
    float: right;    
    width: 171px;
    height: 70px;
}

@media all and (max-width: 640px) {
    .fifth-block-container-buttons {
        float: initial;
        margin: 20px auto 0;
        

        
    }    
}





