.fifth-block-container-buttons {
    float: right;    
    width: 171px;
    height: 70px;
}

@media all and (max-width: 425px) {
    .fifth-block-container-buttons {
        display: none;       
    }    
}