@import (reference) 'src/styles/adaptive';
@import (reference) 'src/styles/font';

.product-card {
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;

    &__content {
        padding: 35px 35px 22px;
        text-align: center;

        @media @mobile {
            padding: 35px 5px 22px;
        }
    }

    &__data {
        margin-top: 10px;
        opacity: 0.5;
    }

    &__description {
        margin-top: 8px;
        word-break: break-word;
    }

    &__image {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    &__link {
        .f_p();

        display: inline-block;
        font-weight: 900;
        margin-top: 15px;
    }
}
