@import (reference) 'src/styles/adaptive';

.description {
    padding: 250px 0 150px;

    @media @tablet {
        padding: 150px 0 50px;
    }

    @media @mobile {
        padding: 50px 0;
    }
}
