<div class="header-top-main {{#if mobile-hidden}}header-top-main_mobile-hidden{{/if}}">
    {{> logo/index}}
    <ul class="header-top-main__nav">
        <a href="#" class="link header-top-main__nav-item">OVERVIEW</a>
        <a href="#how-it-works" class="link header-top-main__nav-item">HOW IT WORKS</a>
        <a href="#features" class="link header-top-main__nav-item">FEATURES</a>
        <a href="#app" class="link header-top-main__nav-item">APP</a>
        <a href="#contact" class="link header-top-main__nav-item">CONTACT</a>
    </ul>
    <div class="header-top-main__buttons">
        {{> button/index
                class="button_light"
                text="sign in"
        }}
        {{> button/index
                class="button_dark header-top-main__button_margin"
                text="contact"
        }}
    </div>
</div>
