.second-img__third-el {    
    position: absolute;
    left: 30px;
    top: 30px;
    width: 310px;
    height: 655px;
    background-color: rgb(255, 255, 255);
    opacity: 0.4;
    box-shadow: 16.383px 11.472px 25px 0px rgba(0, 0, 0, 0.05);
    z-index: 107;
  }  

  @media all and (max-width: 1600px) {
    .second-img__third-el {
        width: 260px;
        height: 605px;
        
    }
  }   

  @media all and (max-width: 1024px) {
    .second-img__third-el {
      width: 225px;
      height: 480px;
      
    }
  }