<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TAKEOFF</title>
</head>

<body>
    {{#> layout/index}}
        {{> header/index}}
        {{> description-short/index}}
    {{/layout/index}}
</body>

</html>
