.second-block-content-container {
    width: 1075px;
    height: 100%;
    display: inline-block;    
    text-align: left; 
    vertical-align: top;
    background-color: #f9f8f8; 
}

@media all and (max-width: 1600px) {
    .second-block-content-container {
        width: 800px;        
    }    
}

@media all and (max-width: 1024px) {
    .second-block-content-container {
        width: 60%;        
    }    
}

@media all and (max-width: 768px) {
    .second-block-content-container {
        text-align: center;
        width: 100%;
        order: 2;
        
    }    
}

@media all and (max-width: 425px) {
    .second-block-content-container {
        height: 67%;        
    }    
}


