<header class="modules-common-layout-components-header">
    <div class="modules-common-layout-components-header__content-block">
        <div class="modules-common-layout-components-header__content-container">
            {{> components/common/logo }}
        </div>
        <div class="modules-common-layout-components-header__navigation-container">
            <div class="modules-common-layout-components-header__navigation-item">
                <a href="#" class="link">OVERVIEW</a>
            </div>
            <div class="modules-common-layout-components-header__navigation-item">
                <a href="#how-it-works" class="link">HOW IT WORKS</a>
            </div>
            <div class="modules-common-layout-components-header__navigation-item">
                <a href="#features" class="link">FEATURES</a>
            </div>
            <div class="modules-common-layout-components-header__navigation-item">
                <a href="#app" class="link">APP</a>
            </div>
            <div class="modules-common-layout-components-header__navigation-item">
                <a href="#contact" class="link">CONTACT</a>
            </div>
        </div>
        <div class="modules-common-layout-components-header__content-container modules-common-layout-components-header__content-container_right">
            <div class="modules-common-layout-components-header__buttons-container">
                <button class="button button_light" type="button">sign in</button>
            </div>
            <div class="modules-common-layout-components-header__burger-container">
                {{> components/common/burger }}
            </div>
        </div>
    </div>
</header>
