@import (reference) 'src/styles/adaptive';
@import (reference) 'src/styles/colors';

.footer {
    background-color: @grey-5;
    padding-left: 130px;

    @media @laptop {
        padding-left: 0;
    }
}
