.second-img {
    position: relative;
    width: 370px;
    height: 655px;
}

@media all and (max-width: 1600px) {
    .second-img {
        width: 320px;
        height: 605px;
        
    }    
}

@media all and (max-width: 1210px) {
    .second-img {
        /* width: 320px; 35
        height: 605px; 25  */
        width: 285px;
        height: 480px;
        
    }    
}