.nav__item {
    display: inline-block; 
    margin-left: 30px;       
}

.nav__item:first-child {
    margin-left: 0;
}

@media all and (max-width: 1210px) {
    .nav__item {
        margin-left: 15px;
    }    
}

@media all and (max-width: 460px) {
    .nav__item {
        display: block;
        margin-left: 0;
        
    }    
}