.footer {
    min-height: 626px;
    width: 1920px;
    margin: 0 auto;
    background-color: #fbfbfb;    
}

@media all and (max-width: 1600px) {
    .footer {        
        width: 1500px;
    }    
}

@media all and (max-width: 1024px) {
    .footer {
        width: 1000px;
               
    
    }
}


@media all and (max-width: 768px) {
    .footer {
        width: 768px;
    }    
}

@media all and (max-width: 320px) {
    .footer {
        width: 100%; 
               
    }    
}