.footer {
    min-height: 626px;
    width: 100%;
    margin: 0 auto;
    background-color: #fbfbfb;    
}


@media all and (max-width: 1024px) {
    .footer {
        width: 1000px;
               
    
    }
}


@media all and (max-width: 768px) {
    .footer {
    width: 100%;
    margin: 0 auto;
    background-color: hsl(0, 0%, 98%);    
    }
}    


@media all and (max-width: 425px) {
    .footer {
        width: 100%; 
               
    }
}