.fifth-block-container-bottom-item {
    display: inline-block;
    
    max-width: 371px;
       
    vertical-align: top;    
    font-size: 0;    
}

/* @media all and (max-width: 1400px) {
    .fifth-block-container-bottom-item {
        max-width: 300px; 
    
    }
} */

@media all and (max-width: 975px) {
    .fifth-block-container-bottom-item {
        height: auto;
               
    }    
}

/* @media all and (max-width: 425px) {
    .fifth-block-container-bottom-item {
        width: 280px;
               
    }    
} */
