.fourth-block__container { 
    padding: 179px 130px 130px 0;    
    height: 100%;    
    background-image: url(fourth-block-img.jpg); 
    background-origin: content-box;
    background-size: contain;
    background-repeat: no-repeat;    
}

@media all and (max-width: 1600px) {
    .fourth-block__container {
        width: 100%;
        padding: 179px 0px 130px 0;
    }    
}

@media all and (max-width: 1024px) {
    .fourth-block__container {
        height: 80%; 
        padding: 0;
    }    
}