.fourth-block {
    height: 770px;
    width: 1920px;
    margin: 0 auto;
}

@media all and (max-width: 1600px) {
    .fourth-block {
        width: 1500px;
        height: 695px;
    }    
}

@media all and (max-width: 1024px) {
    .fourth-block {
        height: 324px; 
    }    
}

@media all and (max-width: 768px) {
    .fourth-block {
        height: 200px;
        width: 100%; 
        margin-bottom: 100px;
    }      
}

@media all and (max-width: 615px) {
    .fourth-block {         
        height: 150px;       
    }    
}


@media all and (max-width: 520px) {
    .fourth-block {         
        display: none;       
    }    
}