.subscribe-block {
    width: 371px;
    height: 269px;
    margin: 0 15px;
}

@media all and (max-width: 1220px) {
    .subscribe-block {
        order: 3;
        margin-top: 50px;
        height: 300px;
    }
}

@media all and (max-width: 1024px) {
    .subscribe-block {
        order: 3;
        margin: 50px 25px 25px;
        
    }
}

@media all and (max-width: 400px) {
    .subscribe-block {        
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 25px;
        height: auto;
        width: 100%;
    }
}

/* @media all and (max-width: 7.02px) {
    .subscribe-block {
        order: 9;     
        margin: 10px 0;         
        height: auto; 
    }    
} */