<div class="header-bottom">
    <div class="header-bottom__container">
        <div class="header-bottom__content">
            <h1 class="header-bottom__title">perfect app to flight ticket booking</h1>
            <p class="header-bottom__description">
                There are many variations of passeges of Lorem Ipsum available, but the majority have<br/>
                blanditiis consequuntur repellat repellendus ipsum necessitatibus dolor,<br/>
                suscipit earum praesentium magnam.
            </p>
            <div class="header-bottom__buttons">
                {{> app-buttons/index}}
            </div>
        </div>
        <div class="header-bottom__image-container">
            <img class="header-bottom__image" src="img/header/app-screen.jpg" alt="App screen">
            <div class="header-bottom__image-back-1"></div>
            <div class="header-bottom__image-back-2"></div>
            <div class="header-bottom__image-back-3"></div>
        </div>
    </div>
</div>
