<div class="follow">
    <h3>Follow us</h3>
    <div class="follow__links-container">
        <a class="follow__link" href="#">
            <img src="img/follow/facebook.png" alt="Facebook">
        </a>
        <a class="follow__link" href="#">
            <img src="img/follow/twitter.png" alt="Twitter">
        </a>
        <a class="follow__link" href="#">
            <img src="img/follow/instagram.png" alt="Instagram">
        </a>
        <a class="follow__link" href="#">
            <img src="img/follow/linkedin.png" alt="Linkedin">
        </a>
    </div>
</div>
