<div class="components-common-inputs-subscribe">
    <input
            class="components-common-inputs-subscribe__input"
            placeholder="Enter your email"
    >
    <button
            class="components-common-inputs-subscribe__button"
            type="button"
    >
        {{> components/common/svg
                className="components-common-inputs-subscribe__icon"
                icon='paper-airplane'
        }}
    </button>
</div>
