<div class="components-common-inputs-subscribe">
    <input
            class="components-common-inputs-subscribe__input"
            placeholder="Enter your email"
            type="text"
    >
    <button class="components-common-inputs-subscribe__button" type="button">
        <img class="components-common-inputs-subscribe__image" src="images/subscribe/subscribe.png" alt="Subscribe">
    </button>
</div>
