<div class="components-common-inputs-subscribe">
    <input
            class="components-common-inputs-subscribe__input"
            placeholder="Enter your email"
    >
    <button
            class="components-common-inputs-subscribe__button"
            type="button"
    >
        <img
                alt="Subscribe"
                class="components-common-inputs-subscribe__image"
                src="images/subscribe/subscribe.png"
        >
    </button>
</div>
