.logo {
    font-size: 0;    
    display: inline-block;    
}

@media all and (max-width: 1210px) {
    .logo {
        margin-right: 20px;
        
    }    
}

@media all and (max-width: 425px) {
    .logo {
        width: 50%; 
               
    }    
}