.header-top__wrapMenuToggle {
    display: none;
}

@media all and (max-width: 768px) {
    .header-top__wrapMenuToggle {
        display: initial;
    }    
}

@media all and (max-width: 320px) {
    .header-top__wrapMenuToggle {
        display: inline-block;
        margin-left: 25%;
        width: 30px;
        height: 36px;        
    }    
}