.header-top__wrapMenuToggle {
    display: none;
}

@media all and (max-width: 975px) {
    .header-top__wrapMenuToggle {
        display: inline-block;
        margin-right: 40px;
        width: 30px;
        height: 36px;
    }    
}

@media all and (max-width: 425px) {
    .header-top__wrapMenuToggle {
        display: inline-block;
        margin-right: 40px;
        width: 30px;
        height: 36px;        
    }    
}